<button>
	<a href="/signup">
		Sign Up
	</a>
</button>

<h2>
	Login
</h2>

<form method="POST" action="/sessions/new"> 
<label for="email">Email</label>
<input type="text" name="[user]email">  
<label for="password">Password</label> 
<input type="password" name="[user]password"> 
<input type="submit">
</form>

<h3>
	Latest Posts:
</h3>

