
<div id="sign_in">
	<h2>
		Login
	</h2>

	<form method="POST" action="/sessions/new"> 
	<label for="email">Email</label>
	<input type="text" name="[user]email">  
	<label for="password">Password</label> 
	<input type="password" name="[user]password"> 
	<input type="submit">
	</form>
</div>
	<br>
<div id="sign_up">
	Don't have an account? Not a problem, 
	<a href="/signup">
		<b>sign up now!</b>
	</a>
</div>

<div id="homepage_posts">
		<h3>
			Trending Right Now:
		</h3>

		<% @post.each do |post| %>
		   <b id="first_name_posts"><%=post.user.first_name + ":"%></b>
		    <br>
			<%=post.title %>
			<br>
			<%=post.text %>
			<br>
		<% end %>
	</div>